<div class="container">
  <p class="text-center product-text">Our Prime products</p>
  <div class="row text-center">
    <div class="col-md-4 products">
      <img src="../../assets/saree.jpg" class="product-image" alt="" />
      <h4>Saree</h4>
      <p>A sari, saree or sharee is a women's garment from the Indian subcontinent</p>
    </div>
    <div class="col-md-4 products">
      <img src="../../assets/Dhotis.jpg" class="product-image" alt="" />
      <h4>Dhotis</h4>
      <p>The dhoti, also known as panche, vesti, dhuti, mardani, chaadra, dhotar or panchey, is a type of sarong that outwardly resembles trousers. It is a lower garment forming part of the national or ethnic costume for men in the Indian subcontinent.</p>
    </div>
    <div class="col-md-4 products">
      <img src="../../assets/shirts.jpg" class="product-image" alt="" />
      <h4>Shirts</h4>
      <p>A shirt is a cloth garment for the upper body. Originally an undergarment worn exclusively by men</p>
    </div>
  </div>
</div>
