.product-text{
  font-size: 40px !important;
  font-weight: 600;
  margin-top: 100px;
  color: rgb(54, 4, 100);
}
.product-image{
  width: 100px;
  margin-top: 20px;

}
.products{
  padding: 20px;
}
h4{
  color: brown;
  font-weight: 600;
}
p{
  color: blueviolet;
  font-weight: 600;
}
