<div class="container">
<h1 class="title text-center">Why choose Us?</h1>
<div class="row about-us">
  <div class="col-md-6">
    <h3>Why we are different</h3>
    <ul>
      <li>Biggest showroom in kerala</li>
      <li>Parking available</li>
      <li>Low cost</li>
    </ul>
  </div>
  <div class="col-md-6">
    <img src="../../assets/indian-family-people-hindu-national-clothes-cartoon-indian-characters_33099-262 (1).jpg" class="img-fluid" alt="">
  </div>
</div>
</div>
