.footer-box{
padding: 20px;
}
.footer-box img{
width: 150px;
margin-bottom: 20px;
}
.form-control{
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}
.btn-primary{
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
}
h6{
  color: cadetblue;
}
hr{
  background-color: violet;
}
.copyright{
  padding-bottom: 20px;
  margin-bottom: 0;
}
