.headerSection{
  position: sticky;
  top: 0;
  z-index: 10;
 /* background-image: linear-gradient(to right, #a517ba, #5f1782);
  padding: 0 !important;
  color: white; */
}
.homeSection{
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  padding: 0 !important;
  color: white;
  padding-top: 5%;

}
#product-sec{
  padding: 80px 0;
}
#about-sec{
  background-color: azure
}
#testimonial-sec{
  margin: 100px 0;

}
#footer-sec{
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: white;
}
*{
  font-family: 'Times New Roman', Times, serif
}
