<section class="headerSection" id="header-sec">
  <app-header-component></app-header-component>
</section>
<section class="homeSection" id="home-sec">
  <app-home-component></app-home-component>
</section>
<section class="productSection" id="product-sec">
  <app-product-component></app-product-component>
</section>
<section id="about-sec">
    <app-about-us-component></app-about-us-component>
  </section>
  <section id="testimonial-sec">
      <app-testimonial-component></app-testimonial-component>
    </section>
    <section id="footer-sec">
        <app-footer-component></app-footer-component>
      </section>
