.navbar{
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  padding: 0 !important;
}
.navbar-brand img{
  height: 60px;
  padding-left: 20px;
}
.navbar-nav li{
  padding: 0 10px;
}

.navbar-nav li a{
  color: white !important;
  font-weight: 600;
  float: right;
  text-align: left;
}
.navbar-toggler-icon{
  color: white;
  font-size: 30px !important;
}
.collapseBar{
  color: white;
  font-size: 30px;
}
