


<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#"><img src="../../assets/logo.png" alt="AR Garments"></a>
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="ExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon collapseBar"></span>
    </button>

  <div class="collapse navbar-collapse" id="ExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto" id="id1">
      <li class="nav-item">
        <a class="nav-link" href="#home-sec">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#product-sec">PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-sec">ABOUT US</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#testimonial-sec">TESTIMONIALS</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#footer-sec">CONTACT</a>
      </li>
    </ul>

  </div>
</nav>

