.testimonial{
border-left: 4px solid #7b1798;
margin-top: 50px;
margin-bottom: 50px;
}
.testimonial img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 10px;
}
.user-details{
  display: inline-block;
  size: 12px;
}
h1{
  color: blueviolet
}
.comment-color{
  color: chocolate
}
