<div class="container">
  <h1 class="text-center">What client says?</h1>
<div class="row offset-1">
  <div class="col-md-5 testimonial">
    <p class="comment-color"><b>Super easy to purchase from website</b></p>
    <img src="../../assets/vipul.jpg" alt="">
    <p class="user-details"><b>Vipul Vinayachandran</b> <br>Co-founder at Pay-Bosch</p>
  </div>

  <div class="col-md-5 testimonial">
      <p class="comment-color"><b>Awesome products</b></p>
      <img src="../../assets/arjun.jpg" alt="">
      <p class="user-details"><b>Arjun chandramohan</b> <br>Co-founder at Ch-Mindtree</p>
    </div>

</div>
</div>
