
.promo{
  font-size: 40px !important;
  font-weight: 600;
  margin-top: 100px;
  text-transform: uppercase;
}
.starImg img{
  height: 10px;
  padding-left: 20px;
  padding-top: 20px;

}

.home-page{
  margin: 0%;
}
.family-im img{
  size: 10px;
}
.navbar-brand img{
  height: 100px;
  padding-left: 20px;
}
.home-footer{
  width: 100%;
}
