
  <div class="row home-page">
  <div class="text-center offset='2' ">
    <p class="promo">Kerala best cloth dealer</p>
    <p>
      Never, ever confuse what happens on a runway with fashion. A runway is
      spectacle. It's only fashion when a woman puts it on. Being well dressed
      hasn't much to do with having good clothes. It's a question of good
      balance and good common sense. We help to pick right one.
    </p>
  </div>
</div>
<img class="home-footer" src="https://affise.com/wp-content/uploads/2018/09/wave-footer.png" alt="">
